.container{
    background-color: rgb(4, 55, 100);
    grid-column-start: 1;
    grid-column-end: 4;
    border: 2px solid rgb(0, 85, 25);
    border-radius: 10px;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3 ,1fr);
    width: 700px;
    height: 700px;
}
.container div{
    border: 3px solid rgb(0, 132, 150);
    width: auto;
    height: auto;
}

.description{
    margin: 3px;
    font-size: 15px;
}
.title{
    margin: 3px;
    padding: 2px;
    font-size: 25px;
    border-bottom: 2px solid rgb(255, 255, 255);
}